<p id="notice"><%= notice %></p>

<h1>Markers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>State</th>
      <th>Type</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.name %></td>
        <td><%= marker.date %></td>
        <td><%= marker.state %></td>
        <td><%= marker.type_id %></td>
        <td><%= marker.category_id %></td>
        <td><%= link_to 'Guardar Marcador',  marker_reservar_path(marker) %></td>
        <td><%= link_to 'Show', marker %></td>
        <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
        <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path %>

<%= pie_chart Marker.group(:type_id).count %>
